.surrounding {
    padding-top: 2rem;
    background-image: url("../img/bgPosters/john-wick-chapter-2_ac33_1600x900.jpg");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    color: white;
}

.signup {
    padding: 2rem;
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-bottom: 4rem;
}

.help {
    color: white;
}

hr.light {
    border-top: 2px solid #000;
    width: 75%;
}

label {
    color: black;
    padding-right: 10px;
}

.badge {
    font-size: 10px;
}

.progress-bar {
    background-color: #FB2C00;
    border-radius: 5px;
    width: 33%;
}