@-webkit-keyframes increaseOpacity {
    0% {opacity: 0.5}
    20% {opacity: 0.6}
    40% {opacity: 0.7}
    60% {opacity: 0.8}
    80% {opacity: 0.9}
    100% {opacity: 1.0}
}

body {
    background-image: url("../img/bgPosters/sherlock_697f_1600x900.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.surrounding {
    padding-top: 2rem;
    width: 100%;
    height: 100%;
    color: white;
}

.signup {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-bottom: 4rem;
    opacity: 0.5;
}

.signup:hover {
    -webkit-animation-name: increaseOpacity;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

.progress-bar {
    border-radius: 5px;
    width: 100%;
    background-color: #28B463;
}

label:not(.sliderLabels) {
    margin-top: 30px;
    margin-left: 15px;
}

hr.light {
    border-top: 2px solid #000;
    width: 80%;
}

form {
    width: 100%;
    height: 100%;
}

input[type=submit] {
    margin-top: 2rem;
}

input.custom-range {
    margin-right: 3rem;
    width: 40%;
    height: fit-content;
}

label.sliderLabels {
    font-weight: bold;
    font-size: 18px;
    margin-right: 2rem;
    width: 15%;
}

p.rangeValue {
    display: inline;
    font-size: 18px;
    font-weight: bold;
}

/* This is for aligning range input and text*/
.custom-range,
.rangeValue,
.sliderLabels {
    display: inline-block;
    vertical-align: middle;
}

div.ratingCategory {
    margin-top: 30px;
}

div.rangeValue {
    width: 3%;
}